<!-- Services Section -->
    <section id="descripcion">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Transmisión</h2>
                    <iframe width="90%" height="400" src="https://www.youtube.com/embed/wvwh7NnZ7l0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <br><br><br><br>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Descripción</h2>
                    <h3 class="section-subheading text-muted">¿Quiénes somos?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-7">
                    <p class="text-muted">[...]</p>
                </div>
                <div class="col-md-5">
                    <iframe src="https://donadora.org/programmathon-weekend/project-card?iframe=true" height="460" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </section>
